.error {
  color: red;
}

.standard {
  color: red;
}

.default {
  text-transform: capitalize;
  font-size: 2rem;
}

.new {
  font-family: "Arial Narrow, sans-serif";
  font-size: 2rem;
  color: saddlebrown;
}

.navigation {
  display: flex;
  gap: 1rem;
}
