<div>
  <h1>{{ appTitle }}</h1>

</div>
<hr>
<div>
  <inst-child [titleProps]="text" (child)="getName($event)"/>
</div>
<hr>
<h3>{{ name }}</h3>
<div>
  <h2>{{ text }}</h2>
  <input type="text" [value]="text" [(ngModel)]="text"/>
</div>
@if (isLoading()) {
  <div>
    <h4>What the fuck</h4>
  </div>
} @else {
  <div>
    @for (a of arr; track a) {

      <div>{{ a }}</div>
    }
  </div>
}
<input type="text" [(ngModel)]="value"/>
@switch (value) {
  @case ('1') {
    <div>One</div>
  }
  @case ('2') {
    <div>Two</div>
  }
  @case ('3') {
    <div>Three</div>
  }
  @default {
    <h4 class="error" [style]="{color: 'blue', opacity: '.2'}">Hi there</h4>
  }
}
<h5 [class]="'default'" [class.new]="!isLoading()" [class.standard]="isLoading()">
  {{ lorem | slice: 0:19 }}
</h5>
<inst-fruit/>
<inst-comp-a/>
<inst-comp-b/>
<!--@defer (on viewport) {-->
<inst-todolists/>
<!--}-->

<inst-email-form/>

