<div>
  <h1>{{ appTitle }}</h1>

</div>
<hr>
<div>
  <inst-child [titleProps]="text" (child)="getName($event)"/>
</div>
<hr>
<h3>{{ name }}</h3>
<div>
  <h2>{{ text }}</h2>
  <input type="text" [value]="text" [(ngModel)]="text"/>
</div>
@if (isLoading()) {
  <div>
    <h4>What the fuck</h4>
  </div>
} @else {
  <div>
    @for (a of arr; track a) {
      <div>{{ a }}</div>
    }
  </div>
}
<input type="text" [(ngModel)]="value"/>
@switch (value) {
  @case ('1') {
    <div>One</div>
  }
  @case ('2') {
    <div>Two</div>
  }
  @case ('3') {
    <div>Three</div>
  }
  @default {
    <h4>Hi there</h4>

  }
}
