<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email">Email: </label>
  <input formControlName="email" id="email" required type="email"/>
  <!--  <p>{{ loginForm.value.email }}</p>-->
  @if (email!.invalid && (email!.dirty || email!.touched)) {
    <div class="alert">
      @if (email.hasError('required')) {
        <div>Email is required.</div>
      }
      @if (email.hasError('pattern')) {
        <div>Email must be correct.</div>
      }

    </div>
  }
  <br>
  <label for="password">Password: </label>
  <input formControlName="password" id="password" type="password"/>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
